*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    color: var(--gray-silver);
    text-transform: uppercase;
    font-family: var(--);
}
.bg-img{
    min-block-size: 100vh;
    min-inline-size: 100vw;
    background-image: url("../assets/images/index-background.jpg");
    background-repeat: no-repeat;
    background-position: 60%;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}
.bg{
    min-block-size: 100vh;
    background: linear-gradient(90deg,rgba(11, 23, 36, 1) 36%, transparent 100%);
}
.wrap{
    inline-size: 90%;
    margin-inline: auto;
}