.main{
}

.main-title{
    font: var(--sheaders);
    color: var(--white);
}
.main-title span{
    color: var(--blue-second);
}
.main-subtitle{
    margin-block-end: 1.5rem;
    font: var(--sheaders);
}
.main-text{
    margin-block-end: 1.5rem;
    text-transform: lowercase;
    font: var(--stext);
}
.main-icons{
    display: flex;
    gap: .5rem;
    margin-block-end: 2.5rem;
    font: var(--flight);
    color: var(--white);
}
.icon{
    width: 20px;
}
.main-card p{
    text-align: center;
}
.main-pdf{
    display: block;
    text-align: center;
    box-sizing: initial;
    padding:1rem 1.5rem;
    background: var(--blue-primary);
    text-decoration: none;
    color: var(--white);
    border-radius: .5rem;
    font: var(--ftext);
}
@media (min-width:768px){
    .main-subtitle, .main-title{
        font-size: 3rem;
    }
    .main-info{
        inline-size: 27rem;
    }
    .main-pdf{
        max-inline-size: 20rem;
        background: linear-gradient(90deg,rgba(10, 92, 168, 1) 36%, rgba(6, 32, 61, 1) 90%);

    }
}
@media (min-width:1024px){
    .main-info{
        inline-size: 30rem;
    }
    .main-subtitle, .main-title{
        font-size: 3.5rem;
    }
}